<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>
<div layout:fragment="content">

    <div class="container" style="max-width: 1000px">
        <div class="py-5 text-center">
            <h2>공지사항</h2>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='/faq/writeForm'" type="button"
                        sec:authorize="hasAnyAuthority('ROLE_ADMIN')">글 등록</button>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>

                </tr>
                </thead>
                <form method="post" enctype="multipart/form-data">
                    <tbody>
                    <tr th:each="list : ${boardList}">

                        <td><a  th:text="${list.id}">글 ID</a></td>
                        <td><a th:href="'/faq/detail/'+${list.id}"  th:text="${list.title}">제목</a>
                        <td  th:text="${list.writer}">작성자</td>
                        <td  th:text="${list.localDate}">등록일</td>
                    </tr>

                    </tbody>
                </form>
            </table>
        </div>
        <div th:with="start=${(boardList.number/maxPage)*maxPage +1},
        end=(${(boardList.totalPages == 0) ? 1 : (start + (maxPage-1) < boardList.totalPages ?
        start + (maxPage - 1) : boardList.totalPages)})">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${boardList.number eq 0}?'disabled'">
                    <a th:href="${boardList.first} ? '#' :@{/faq/boardLists(page=${boardList.number})}"
                       aria-label='Previous' class="page-link">
                        <span aria-hidden="true" style="color: black;">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                    th:classappend="${boardList.number eq page-1}?'active':''">
                    <a th:href="@{/faq/boardLists(page=${page})}"
                       th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${boardList.number+1 ge boardList.totalPages}?'disabled'">
                    <a th:href="${boardList.last} ? '#' : @{/faq/boardLists(page=${boardList.number + 2})}"
                       aria-label="Next" class="page-link">
                        <span aria-hidden="true" style="color: black;">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> <!-- /container -->

</div>
</html>